
html {
    border: 2px solid #666666;
    background-color: #FFFFFF;
    -webkit-box-shadow: inset 0 0 3px #000;
    -ms-box-shadow: inset 0 0 3px #000;
    box-shadow: inset 0 0 3px #000;
}

input {
    text-align: center;
    background-color: #E8E8E8;
    border-radius: 25px;
    border: 2px solid #666666;
    width: 450px;
    font-size: 15px;
}

input:hover {
    background-color: #FFFFFF;
}

#option1 {
    background-color: #FFFFFF;
    border-radius: 25px;
    border: 2px solid #666666;
    width: 150px;
}

#option1:hover {
    color: blue;
}

#options {
    background-color: #FFFFFF;
    border-radius: 25px;
    border: 2px solid #666666;
    width: 150px;
}

#options:hover {
    color: blue;
}

#quickSaveOption {
    background-color: #FFFFFF;
    border-radius: 25px;
    border: 2px solid #666666;
    width: 150px;
}

#quickSaveOption:hover {
    color: blue;
}

#quickSaveOption.noQuickSave {
    color: red;
}

#quickSaveOption.noQuickSave:hover {
    color: red;
}

#quickSaveOption.yesQuickSave {
    color: green;
}

#quickSaveOption.yesQuickSave:hover {
    color: green;
}