            body {
                background-color: #F8F8F8;
            }

            #myPrompt {
                width: 400px;
                height: 80px;

                position: absolute;
                top:0;
                bottom: 0;
                left: 0;
                right: 0;

                margin: auto;


                border: 2px solid #666666;
                background-color: #ccc;
                -webkit-border-radius: 10px;
                -ms-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                -webkit-box-shadow: inset 0 0 3px #000;
                -ms-box-shadow: inset 0 0 3px #000;
                box-shadow: inset 0 0 3px #000;

                text-align: center;
                padding-top: 10px;
            }

            input {
                text-align: center;
                background-color: #E8E8E8;
                border-radius: 25px;
                border: 2px solid #666666;
            }

            input:hover {
                background-color: #FFFFFF;
            }

            #promptAnswer {
                width: 180px;
            }

            #promptButton {
                background-color: #FFFFFF;
                border-radius: 25px;
                border: 2px solid #666666;
                margin: 3px;
            }

            #promptButton:hover {
                color: blue;
            }

            label:hover {
                color: blue;
            }