<!doctype html>
<html>
	<head>
   		<title>Autoload Web</title>
		<link href="/src/public/reset.css" rel="stylesheet" type="text/css">
        <link href="/src/public/main.css" rel="stylesheet" type="text/css">

        <script src="/jquery.min.js"></script>
   		<script src="/src/javascript/autoloadWeb_Main.js"></script>
		<script src="/src/javascript/objects/WebsiteSetup.js"></script>
		<script src="/src/javascript/objects/WebsiteTab.js"></script>
		<script src="/src/javascript/objects/WebsiteWindow.js"></script>

   	</head>
   	<body>
   	</body>
</html>

