<!doctype html>
<html>
	<head>
	  	<link href="/src/public/reset.css" rel="stylesheet" type="text/css">
      	<link href="/src/public/setupPrompt.css" rel="stylesheet" type="text/css">
   		<script src="/src/javascript/setupPrompt.js"></script>
		<script src="/src/javascript/objects/WebsiteSetup.js"></script>
		<script src="/src/javascript/objects/WebsiteTab.js"></script>
		<script src="/src/javascript/objects/WebsiteWindow.js"></script>
   	</head>
   	<body>
 	   	<div id="myPrompt">
 			<label id="promptQuestion" for="promptAnswer">Enter name of new setup:</label>
  			<input id="promptAnswer" type="text"></input>
  			<input id="promptButton" type="button" value="Submit"></input><br>
  			<input type="checkbox" id="RemovePreviousWindows" value="RemovePreviousWindows" checked>
  			<label id="RemovePreviousWindowsLabel" for="RemovePreviousWindows">Remove all current windows</label>
   		</div>
   		<div id="myPromptError">
   		</div>
   	</body>
</html>

